.form {

  @include OnDesktop {
    width: 50%;
  }

  &__container {
    margin: 0 15px 24px;
    padding: 20px;
    background-color: #252525;
    display: flex;
    flex-direction: column;

    @include OnDesktop {
      height: 620px;
      margin: 0;
      padding: 32px 40px 0;
    }
  }

  &__wrapper {

    @include OnDesktop {
      display: flex;
      gap: 20px;
    }

  }

  &__title {
    display: block;
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: #fff;
    margin-bottom: 8px;

    @include OnDesktop {
      font-size: 36px;
      line-height: 46px;
      margin-bottom: 16px;
    }
  }

  &__text {
    display: block;
    font-family: "Lato", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #c2c2c2;
    margin-bottom: 20px;

    @include OnDesktop {
      margin-bottom: 24px;
    }

  }

  &__label {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #fff;
    margin-bottom: 8px;

    @include OnDesktop {
      margin-bottom: 24px;
    }

    &::after {
      content: "";
      background: #7637dd;
      height: 2px;
      display: block;
  
    }
  }

  &__input {
    background: #3d3d3d;
    height: 45px;
    border: none;
    outline: none;

    @include OnDesktop {
      margin-top: 2px;
    }

    &:focus {
      background-color: #fff;
    }
  }

  &__input--name {
    @include OnDesktop {
      width: 50%;
    }
  }

  &__input--phone {
    @include OnDesktop {
      width: 50%;
    }
  }

  &__message {
    background: #3d3d3d;
    border: none;
    outline: none;
    resize: none;

    &:focus {
      background-color: #fff;
  }
    
  }

  &__button {
    width: 153px;
    height: 34px;
    background: #7637dd;
    margin-top: 20px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include OnDesktop {
      margin-top: 16px;
    }
  }

  &__link {
    text-decoration: none;
    font-family: "Poppins", serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    display: flex;
    padding-left: 16px;
  }

  &__icon {
    display: flex;
    align-self: center;
    padding-left: 6px;
  }
}

