.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 3;
  background-color: #252525;
  height: 60px;

  @include OnDesktop {
    flex-direction: row;
    z-index: 2;
    height: 120px;
    flex-direction: row;
    justify-content: space-between;
  }

  
  &__container {


    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

    @include OnDesktop {
      padding: 0 60px;
    }

    @include OnBigDesktop {
      padding: 0 110px;
    }

  }

  &__logo {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
}

.sticky {
  position: sticky;
  top: 0;
}

.backgroud {
  background-color: #fff;
}