.header {
//   height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  
  &__container {
    background-color: #252525;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
}

.container--logo {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
