.info {

  &__container {
    margin: 50px 15px 32px;
  }

  &__name {
    font-family: "Poppins", serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0.4em;
    text-align: left;
    color: #7637DD;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      height: 2px;
      width: 20px;
      background-color: #7637DD;
      margin-right: 7px;
    }
  }

  &__title {
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
    margin: 8px 0 16px;
    color: #252525;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: "Poppins", serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 1px;
    text-align: center;
    color: #252525;
    cursor: pointer;
  }

  &__text {
    font-family: "Lato", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #5F5F5F;
    margin-bottom: 16px;
  }
}