.info {

  &__container {
    margin: 50px 15px 32px;

    @include OnDesktop {
      margin: 100px 60px 72px;
      display: flex;
      flex-direction: column;
    }

    @include OnBigDesktop {
      margin: 100px 110px 72px;
    }
  }

  &__wrapper {
    @include OnDesktop {
      display: flex;
      justify-content: space-between;
      gap: 80px;

    }
  }

  &__wrapper-text {
    @include OnDesktop {
      width: 50%;
      padding-top: 5px;
    }
  }

  &__name {
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0.4em;
    text-align: left;
    color: #7637dd;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    @include OnDesktop {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 13px;
    }

    &::before {
      content: "";
      height: 2px;
      width: 20px;
      background-color: #7637dd;
      margin-right: 7px;

      @include OnDesktop {
        height: 2px;
        width: 32px;
      }
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
    margin: 8px 0 16px;
    color: #252525;

    @include OnDesktop {
      font-size: 50px;
      line-height: 65px;
      margin: 0;
      width: 50%;
    }
  }

  &__more-info {
    display: flex;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 1px;
    text-align: center;
    color: #252525;
    cursor: pointer;

    @include OnDesktop {
      font-size: 14px;
      line-height: 17px
    }
  }

  &__text {
    font-family: "Lato", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #5f5f5f;
    margin-bottom: 16px;
    display: flex;
  }
}
