.logo {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 15px;

  @include OnDesktop {
    gap: 24px;
  }

  &__image {
    width: 40px;
    height: 31px;

    @include OnDesktop {
      width: 64px;
      height: 50px;
    }
  }

  &__text {
    width: 94px;
    height: 17px;

    @include OnDesktop {
      width: 116px;
      height: 21px;
    }
  }
}
