.nav {
  display: none;
//   position: absolute;
//   position: relative;
//   z-index: 2;
//   position: absolute;
//   transform: translateX(-100%);

  &--activ {
    // transform: translateX(0);
    display: flex;
    justify-content: center;
    width: 100%;
    // z-index: 2;
  }
  
  &__container {
    display: flex;
    align-items: center;
    margin-top: 134px;
  }

  &__menu {
    background-color: #252525;
    border: none;
    cursor: pointer;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

  &__item {
    font-family: "Poppins", serif;
  }

  &__link {
    text-decoration: none;
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
    color:  #252525;
  }

  &__link:hover {
    color:#7637DD;
  }
}
