.nav {
  display: none;
  background-color: $c-white;

  @include OnDesktop {
    display: flex;
    background: none;
  }

  &--activ {
    z-index: 4;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  &__container {
    display: flex;
    align-items: center;
    height: 100vh;

    @include OnDesktop {
      margin: 0;
      height: 120px;
      justify-content: space-between;
      padding-right: 110px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    color: $c-black;

    @include OnDesktop {
      flex-direction: row;
      gap: 40px;
      color: $c-white;
    }

    @include OnDesktop {
      gap: 56px;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
    color: $c-black;

    @include OnDesktop {
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
      color: $c-white;
    }
  }

  &__link:hover {
    color: #7637dd;
  }
}

.color {
  color: $c-black;
}
