.page {
  display: flex;
  flex-direction: column;
  // position: relative;

  &__container {
    display: flex;
    gap: 20px;
    margin: 15px;

    @include OnDesktop {
      margin: 40px 20px 0 60px;
      gap: 40px;
    }

    @include OnBigDesktop {
      margin: 40px 20px 0 110px;
      gap: 64px;
    }
  }

  &__options {
    padding: 80px 0 32px;

    @include OnDesktop {
      padding: 100px 0 20px;
    }

    @include OnBigDesktop {
      padding: 160px 0 32px;
    }
  }

  &__title {
    // position: relative;
    // z-index: 1;
    font-family: "Poppins", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: #252525;
    margin-bottom: 32px;

    @include OnDesktop {
      margin-bottom: 45px;
      font-size: 72px;
      line-height: 80px;
      letter-spacing: -0.015em;
    }

    @include OnBigDesktop {
      margin-bottom: 45px;
      font-size: 90px;
      line-height: 98px;
      letter-spacing: -0.015em;
    }
  }

  &__button_info {
    width: 134px;
    height: 34px;
    background-color: #7637dd;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 16px;

    @include OnDesktop {
      width: 167px;
      height: 47px;
      padding: 0 18px 0 24px;
    }
  }

  &__link_details {
    font-family: "Poppins", serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;

      @include OnDesktop {
        gap: 10px;
        font-size: 14px;
        line-height: 45px;
    }
  }

  // &__icon_arrow {

  // }
}
