.section {

  &__wrapper {
    margin-bottom: 20px;
  }

  &__container {
    margin: 0 15px 20px;
    box-shadow: 0 8px 30px 0 #0003;
    display: flex;
    flex-direction: column;
    transition: transform linear 0.4s;

    &:hover {
      transform: scale(1.05);
    }

    @include OnDesktop {
      margin: 0;
    }
  }

  &__container_option {
    display: flex;

    @include OnDesktop {
      height: 250px;
    }
    @include OnBigDesktop {
      height: 200px;
    }
  }

  &__decoration {
    width: 4px;
    height: 47px;
    background: #7637dd;
    margin-top: 16px;
    display: flex;
  }

  &__info {
    margin: 32px 32px 24px;
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__name {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.4em;
    text-align: left;
    color: #aba9af;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
    color: $c-black;
    margin-bottom: 16px;
  }

  &__description {
    font-family: "Lato", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #5f5f5f;

  }

  &__icon {
    cursor: pointer;
    position: absolute;

    &--black {
      opacity: 1;
    }

    &--white {
      opacity: 0;
    }
  }

  &__image-plus {
    width: 57px;
    height: 57px;
    align-self: flex-end;
    transition: linear 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
      background: #7637dd;
    }

    &:hover .section__icon--black {
      opacity: 0;
    }

    &:hover .section__icon--white {
      opacity: 1;
    }
  }
}

.section-wrapper {
  @include OnDesktop {
    display: flex;
    margin: 0 60px;
    gap: 20px;
  }

  @include OnBigDesktop {
    margin: 0 110px;
  }
}
