.swiper-container {
  width: 50%;
  height: 320px;
  margin: 0;
  position: relative;

  @include OnDesktop {
    height: 500px;
  }

  @include OnBigDesktop {
    height: 700px;
  }
}

.swiper-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-nav {
  display: flex;
  width: 110px;
  height: 50px;
  background: #f8f8f8;
  border: 2px solid $c-black;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;

  @include OnDesktop {
    width: 170px;
    height: 70px;
  }
}

.swiper-button-left {
  display: flex;
  width: 14px;
  height: 12px;
  padding: 12px;
  box-sizing: content-box;

  @include OnDesktop {
    width: 20px;
    height: 18px;
    padding: 24px;
  }
}

.swiper-button-right {
  padding: 12px;
  box-sizing: content-box;
  display: flex;
  width: 14px;
  height: 12px;

  @include OnDesktop {
    width: 20px;
    height: 18px;
    padding: 24px;
  }
}

.swiper-button-left::after {
  content: "";
  width: 1px;
  height: 34px;
  background: $c-black;
  position: absolute;
  left: 50%;
  top: 8px;
  opacity: 0.2;

  @include OnDesktop {
    height: 54px;
  }
}
