@import "utils";
@import "fonts";
@import "typography";
@import "./components/header.scss";
@import "./components/logo.scss";
@import "./components/nav.scss";
@import "./components/page.scss";
@import "./components/section.scss";
@import "./components/info.scss";
@import "./components/footer.scss";
@import "./components/form.scss";
@import "./components/swiper.scss";
@import "./components/menu.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
}
